{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Cadastrar
{% endblock 'title' %}

{% block 'content' %}
    <div class="container">
        <h1>Cadastro de Venda</h1>

        <form method="post" onsubmit="return formValidateFilledInputs(this)" action="{% url 'vendas:vendas_store' %}">
            {% csrf_token %}
            {% include 'partials/_vendas_form.html' %}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

    <script src="{% static 'js/sweetalert2.js' %}"></script>
{% endblock 'content' %}